{% load static %}

<nav class="navbar navbar-expand-md sticky-top">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand">
            <img src="{% static 'img/logo_white_text.png' %}" alt="logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon1"></span>
            <span class="navbar-toggler-icon2"></span>
            <span class="navbar-toggler-icon3"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'index' %}" {% if 'index' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}>Home</a>
                    </li>
                    <li>
                        <a href="" {% if 'log ' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}>Log</a>
                    </li>
                    <li>
                        <a href="" {% if 'exercises' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}>Exercises</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class="nav-link">Welcome, {{ user.username }}</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                            <i class="fas fa-sign-out-alt">Logout</i>
                        </a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'index' %}" {% if 'index' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}>Home</a>
                    </li>
                    <li>
                        <a href="" {% if 'log ' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}>Log</a>
                    </li>
                    <li>
                        <a href="" {% if 'exercises' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}>Exercises</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}" {% if 'register' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}>Register</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}" {% if 'login' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}>Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>