{% extends 'base.html' %}

{% block content %}
<h1 id="year">2019</h1>
<div class="container col-12">
    {% if months %}
        {% for month in months %}
        <div class="row col-4">
            <a class="month-name" href="">{{ month }}</a>
            <ul class="days">
                {% if days %}
                    {% for day in days %}
                <li class="day">{{ day }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul class="num-days">
                {% if month == 'Jan' %}
                    {% if january %}
                        {% for key,value in january.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'Feb' %}
                    {% if february %}
                        {% for key,value in february.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'Mar' %}
                    {% if march %}
                        {% for key,value in march.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'Apr' %}
                    {% if april %}
                        {% for key,value in april.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'May' %}
                    {% if may %}
                        {% for key,value in may.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'Jun' %}
                    {% if june %}
                        {% for key,value in june.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'Jul' %}
                    {% if july %}
                        {% for key,value in july.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'Aug' %}
                    {% if august %}
                        {% for key,value in august.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'Sep' %}
                    {% if september %}
                        {% for key,value in september.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'Oct' %}
                    {% if october %}
                        {% for key,value in october.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'Nov' %}
                    {% if november %}
                        {% for key,value in november.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if month == 'Dec' %}
                    {% if december %}
                        {% for key,value in december.items %}
                        <li class="num-day">{{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </ul>     
        </div>
        {% endfor %}
    {% endif %}  
</div>
{% endblock %}