{% extends 'base.html' %}

{% block content %}
<h1 id="year">2019</h1>
<div class="body">
    {% if months %}
        {% for key,value in months.items %}
            <div class="" id="month-container">
                <div class="month-align"> 
                    <a href="{% url 'index' %}" id="month-href" value="{{ key }}">{{ value }}</a>
                </div>
                <div class="">
                    <ul class="days">
                        {% if days %}
                            {% for key,value in days.items %}
                        <li class="day" id="day-names"><a href="{% url 'index' %}" class="day-name-href" value="{{ key }}">{{ value }}</li></a>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="">
                    <ul class="num-days">
                        <a href="{% url 'index' %}" class="day-nums-href">                            {% if value == 'Jan' %}
                                {% if january %}
                                    {% for key,value in january.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'Feb' %}
                                {% if february %}
                                    {% for key,value in february.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'Mar' %}
                                {% if march %}
                                    {% for key,value in march.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'Apr' %}
                                {% if april %}
                                    {% for key,value in april.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'May' %}
                                {% if may %}
                                    {% for key,value in may.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'Jun' %}
                                {% if june %}
                                    {% for key,value in june.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'Jul' %}
                                {% if july %}
                                    {% for key,value in july.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'Aug' %}
                                {% if august %}
                                    {% for key,value in august.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'Sep' %}
                                {% if september %}
                                    {% for key,value in september.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'Oct' %}
                                {% if october %}
                                    {% for key,value in october.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'Nov' %}
                                {% if november %}
                                    {% for key,value in november.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if value == 'Dec' %}
                                {% if december %}
                                    {% for key,value in december.items %}
                                    <li class="num-day">{{ value }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </a>
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}  
</div>
{% endblock %}