*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  line-height: normal;
  height: 60em;
}

img {
  height: 3.5em; }

.navbar-brand {
  width: 85%;
  margin-left: -20px;
}

.navbar {
  text-transform: uppercase;
  background-color: #8c2235;
  padding: 0; }

.navbar-toggler-icon1 {
  display: block;
  height: .2em;
  width: 1.2em;
  background-color: #FFF;
  margin-bottom: .2em;
}

.navbar-toggler-icon2 {
  display: block;
  height: .2em;
  width: 1.2em;
  background-color: #FFF;
  margin-bottom: .2em;
}

.navbar-toggler-icon3 {
  display: block;
  height: .2em;
  width: 1.2em;
  background-color: #FFF;
}

.drop-list {
  align-self: center;
}

a.nav-link {
  color: #FFF;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

#year {
  color: red;
}

ul.days {
  justify-content: space-evenly;
}

li.day {
  list-style-type: none;
}

li.num-day {
  list-style-type: none;
}

#day-names {
  font-size: .6em;
}

#month-container {
  display: grid;
  grid-template-columns: 90%;
  justify-content: space-evenly;
  align-content: baseline;
}

ul.days {
  display: grid;
  grid-template-columns: repeat(7, 14%);
}

ul.num-days {
  font-size: .7em;
  justify-content: space-evenly;
}

.month-align {
  justify-self: center;
}

a.day-nums-href {
  display: grid;
  grid-template-columns: repeat(7, 14%);
}

a.day-nums-href:active {
  text-decoration: none;
}

.single_cal_main {
  /*border: 1px solid black;*/
  display: grid;
  text-align: center;
  height: -webkit-fill-available;
}

.single-cal-day-nums-href {
  display: grid;
  grid-template-columns: repeat(7, 14%);
  grid-template-rows: repeat(6, 85%);
  justify-content: center;
}

a.single-cal-day-nums-href {
  text-decoration: none;
}

.single-cal-num-day {
  list-style-type: none;
  font-weight: bold;
  /*border: .3px solid grey;*/
  
}

.event {
  list-style-type: none;
  color: white;
  background-color: #8c2235;
  margin: .3em;
}

a.nav-link.active {
  color: #f54565;
}

.card-header {
  background-color: #f54565;
}

.input-button {
  background-color: #f54565;
  color: #FFFFFF;
}

#main-footer {
  background-color: #8c2235;
}
